:root {
   /* Size */
   --header-height: 60px;
   /* Color */
   --black-color: #000;
   --white-color: #ffffff;
   --gray-color: #808080;
   --not-choose-color: rgba(255, 255, 255, 0.6);
   --choose-color: rgba(255, 255, 255, 1);
   --choose-background-color: #2e2e2e;
   --second-color: #FFBB00;
   --background-cart-color: #E5E5E5;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html,
body {
   overflow-x: hidden;
}

html {
   font-size: 62.5%;
   line-height: 1.6rem;
   font-family: sans-serif;
}

/* Header */
.header {
   background-color: var(--black-color);
   height: var(--header-height);
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   z-index: 10;
}

/* Logo */
.header__logo {
   color: white;
   font-size: 4.6rem;
   font-weight: 560;
   line-height: var(--header-height);
   text-align: center;
   text-decoration: none;
   display: block;
}

.header__nav {
   display: flex;
   margin-left: auto;
}

/* Navigation Desktop */
.header-nav__list {
   display: flex;
   list-style: none;
   justify-content: end;
}

.nav-mobile__list__icon {
   display: none;
}

.cart__icon--hide {
   display: none;
}

.header-nav__link {
   margin-right: 36px;
   text-decoration: none;
   font-size: 1.8rem;
   color: var(--not-choose-color);
   display: block;
   padding: 0 0 0 20px;
   line-height: var(--header-height);
   font-weight: 500;
   /* Animation */
   background:
      linear-gradient(to right,
         rgba(0, 0, 0, 1),
         rgba(0, 0, 0, 1)),
      linear-gradient(to right,
         rgba(255, 255, 255, 1),
         rgba(255, 255, 255, 1));
   background-size: 100% 3px, 0 3px;
   background-position: 80% 80%, 0 80%;
   background-repeat: no-repeat;
   transition: background-size 200ms linear, transform 200ms linear;
}

.header-nav__link:last-child {
   margin-right: 10px;
}

/* Navigation Item when Hover */
.header-nav__link:hover {
   background-size: 0 2px, 100% 2px;
   transform: scale(1.1);
   transform: translateX(1px) translateY(1px);
}

.header-nav__link-current {
   color: var(--choose-color);
   margin: 0 26px;
   text-decoration: none;
   font-size: 2.1rem;
   display: block;
   padding: 0 0 0 20px;
   line-height: var(--header-height);
   font-weight: 500;
   border-radius: 9px;
   transform: scale(1.1);
   transform: translateX(1px) translateY(1px);
}

/* Cart */
.header-nav__cart,
.nav-mobile__list__icon,
.header-nav__login {
   width: var(--header-height);
   height: var(--header-height);
   transition: transform 200ms linear;
}

.list__icon,
.cart__icon,
.login__icon {
   font-size: 2rem;
   color: white;
   line-height: var(--header-height);
   padding: 0 0 0 20px;
}

.nav-mobile__list__icon:hover,
.header-nav__login:hover,
.header-nav__cart:hover {
   transform: scale(1.2);
}

.login__icon {
   font-size: 2.5rem;
}

.login__icon--hide,
.cart_icon--hide,
.login__title--hide {
   display: none;
}

.login-title>a {
   text-decoration: none;
   color: var(--gray-color);
   font-size: 1.8rem;
   display: block;
   width: 120px;
   font-weight: 500;
   line-height: var(--header-height);
   transition: color 0.5s linear;
}

.login-title>a:hover {
   color: var(--white-color);
}

.login-title>a::before {
   content: "";
   height: 100%;
   border: 1px solid white;
   margin-left: 10px;
   margin-right: 10px;
}

/* Navigation Mobile */
/* Overlay */
.nav__overlay,
.cart-overlay {
   position: fixed;
   top: 0;
   right: 0;
   display: block;
   bottom: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.3);
   animation: fadeIn linear .2s;
}

/* Left Drawable Navigation */
.navMobile {
   padding-top: 10vh;
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   width: 320px;
   max-width: 90%;
   background-color: var(--gray-color);
   transform: translateX(0);
   transition: transform ease .2s;
   z-index: 2;
   background-image: url('/assets/img/nav-background.jpeg');
}

/* Title */
.navMobile__title {
   margin-bottom: 20px;
   font-size: 3.6rem;
   color: white;
}

.navMobile__title img {
   max-width: 16%;
}

/* Separator */
.mobile-separator {
   width: 100%;
   border-bottom: 3px solid var(--gray-color);
   margin-bottom: 30px;
}

.nav-mobile__link {
   font-size: 2rem;
   color: var(--white-color);
   display: block;
   line-height: 1.6rem;
   font-weight: 400;
   text-decoration: none;
   padding: 10px;
   border-radius: 20px;
   margin: 20px 10px 20px 20px;
   transition: all 0.1s linear;
}

.nav-mobile__link:hover {
   color: var(--gray-color);
   font-size: 2rem;
   line-height: 2rem;
   background-color: var(--white-color);
   box-shadow: 3px 3px 10px var(--black-color);
}

.nav-mobile__link--current {
   color: var(--black-color);
   font-size: 2rem;
   line-height: 1.8rem;
   font-weight: 600;
   display: block;
   text-decoration: none;
   margin: 30px 0 30px 30px;
}

/* Check State Open or Close */
.nav_input,
.cart__input {
   display: none;
}

.nav_input:checked~.nav__overlay {
   display: none;
}

.nav_input:checked~.navMobile {
   transform: translateX(-100%);
}

.nav-mobile__list {
   display: flex;
   flex-direction: column;
   list-style: none;
}

/* Top Close in Drawable */
.navMobile-close,
.cart-close {
   width: 20px;
   height: 20px;
   color: white;
   position: absolute;
   top: 1rem;
   right: 1rem
}



/* Footer */
.footer {
   background-color: var(--black-color);
   width: 100%;
   height: auto;
   bottom: 0;
   left: 0;
   right: 0;
}

.footer__title {
   padding: 0;
   color: white;
   font-size: 6rem;
   line-height: 7rem;
   margin-left: 30px;
   margin-top: 12px;
   font-weight: 500;
}

.footer-col__title {
   color: var(--second-color);
   font-size: 3rem;
   line-height: 4rem;
   margin-top: 36px;
   margin-bottom: 10px;
}

.footer__list {
   margin-left: 20px;
   list-style: none;
   font-size: 2rem;
   line-height: 2rem;
   font-weight: 300;

}

.footer__info,
.footer__info__icon,
.footer__mail,
.footer__info>a {
   margin-bottom: 6px;
   color: var(--gray-color);
   text-decoration: none;
   padding: 6px 0;
}

.footer__info__icon i:hover,
.footer__info:hover,
.footer__mail:hover,
.footer__info:hover>a {
   color: white;
}

.separator {
   width: 80%;
   margin-top: 3px;
   margin-bottom: 3px;
   margin-left: 0;
   border-bottom: 1px solid var(--gray-color);
}

.footer__info__icon {
   display: flex;
   flex-direction: row;
   justify-content: start;
}

.footer__info__icon i {
   font-size: 2.6rem;
   padding: 0 10px 0 10px;
   margin-left: 16px;
}

.author {
   color: var(--white-color);
   font-size: 2.65;

}

.footer__logo {
   width: 210px;
   height: 210px;
}

.footer__logo>img {
   object-fit: cover;
   max-width: 100%;
   height: 1;
}

/* Responsive for Desktop, Tablet, Mobile */
/* Tablet */
@media (min-width:740px) {

   .navMobile,
   .nav__overlay {
      display: none;
   }

   .header-nav__link-current {
      margin: 0;
   }
}

/* Mobile */
@media (max-width:739px) {

   p html {
      line-height: 3.2rem;
   }

   body {
      overflow-y: hidden;
   }

   .footer__logo,
   .footer__title {
      display: inline-block;
   }

   .list__icon,
   .cart__icon,
   .login__icon {
      font-size: 2.3rem;
   }

   .header__nav {
      padding-right: 80px;
   }

   .nav-mobile__list__icon {
      display: block;
   }

   .header-nav__list--hide {
      display: none;
   }

   .banner {
      padding-top: 0;
   }

   .appContainer {
      margin-top: 0px;
   }

   .banner__img {
      right: -10px;
   }

   .banner__img:hover {
      transform: translateX(-10px) translateY(-10px) scale(0.9);
      opacity: 1;
   }

   .banner__corner {
      top: 36px;
      left: 80%;
      position: absolute;

   }

   .banner-content>h2 {
      width: 200%;
   }

   .footer {
      padding: 0 10px;
   }
}