.app-content {
   background-color: black;
   height: 600px;
   margin-top: var(--header-height);
   margin-bottom: 210px;
}

.info {
   height: 300px;
}

.contact--title {
   color: white;
   font-size: 4.1rem;
   line-height: 2.1rem;
   margin-top: 30px;
   font-weight: 300;
   margin-left: 30px;
}

.grid-container {
   padding-left: 50px;
   list-style: none;
   display: flex;
}

.container__title {
   color: white;
   font-size: 3.1rem;
   margin-left: 10px;
   margin-top: 60px;
}

.grid-list__item {
   color: white;
   font-size: 1.6rem;
   line-height: 1.6rem;
   margin-top: 10px;
}

.grid-list {
   list-style: none;
   margin-top: 20px;
}

.location {
   background-color: green;
   height: 300px;
}

.location--hanoi {
   margin-top: 30px;
}

.location--hanoi>img,
.location--hcm>img {
   width: 100%;
   object-fit: cover;
   height: 100%;
}

.location--hcm {
   margin-top: 60px;
}

.grid-list {
   width: 60%;
}

.gird--title {
   font-size: 1.6rem;
   line-height: 1.6rem;
}

.location_title {
   color: white;
   font-size: 2.1rem;

}

.grid__logo {
   width: 40%;
   transition: all ease .1s;
}

.grid__logo_img {
   width: 70%;
   height: auto;
}
.location {
   box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
}
.location:hover {
   box-shadow: 0 1px 20px 0 rgba(60, 64, 67, .1), 1px 2px 16px 20px rgba(60, 64, 67, .15);

}

/* Mobile */
@media (max-width:739px) {


   .banner__corner {
      left: 80%;
      bottom: 36px;
   }
   .footer {
      margin-top: 500px;
   }

}