:root {
   --banner-height: 690px;
   --product-height: 800px;
   --info-height: 600px;
}

/* Banner */
.banner {
   background-color: var(--black-color);
   height: var(--banner-height);
   position: relative;
   padding-top: var(--header-height);
   height: auto;
}

.banner>.grid {
   height: var(--banner-height);
}

.banner-content,
.info-content {
   padding-top: calc(var(--banner-height) * 0.26);
   color: var(--gray-color);
   font-size: 3rem;
   width: 46%;
   margin-left: 0;
   font-weight: 300;
   line-height: 3rem;
   text-align: justify;
}

.banner-content__title,
.info-content__title {
   color: white;
   font-size: 5rem;
   margin-bottom: 40px;
}

.banner__corner {
   position: absolute;
   left: 36px;
   bottom: 36px;
}

.banner__img {
   width: 50%;
   position: absolute;
   right: -50px;
   bottom: -16%;
   transform: scale(0.85);
   opacity: 0.8;
   z-index: 3;
   transition: transform linear .3s, opacity linear .2s;
}

.banner__img>img {
   object-fit: cover;
   max-width: 100%;
   height: auto;
}

.banner__img:hover {
   transform: translateX(-60px) translateY(-10px) scale(0.9);
   opacity: 1;
}

/* App */
.appContainer {
   height: 200px;
   width: 100%;
   margin-top: 90px;
   height: auto;
}

/* Product */
.title-product,
.title-info,
.title-brand {
   font-size: 3rem;
   color: var(--black-color);
   line-height: 3rem;
   font-weight: 400;
   margin-left: 36px;
   padding-bottom: 6px;
   background:
      linear-gradient(to right,
         rgba(0, 0, 0, 1),
         rgba(0, 0, 0, 1));

   background-size: 14% 4px;
   background-position: 0% 100%;
   background-repeat: no-repeat;
   transition: all ease .2s;
}

.title-product:hover,
.title-info:hover,
.title-brand:hover {
   color: gray;
   transform: all ease .2s;
   background-size: 16% 4px;
   transform: scale(1.1);
}

.product-item {
   margin-top: 36px;
   padding-bottom: 21px;
   box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
   transition: all ease .2s;
   border: none;
   outline: none;
}

.product-item:hover {
   transform: scale(1.06);
   border: 1px solid gray;

}


.product-item_img>img {
   width: 100%;
}

.product-item__content {
   font-size: 2rem;
   color: var(--black-color);
   font-weight: 400;
   margin-left: 12px;
}

.product-item__title {
   margin: 10px 0;
   font-size: 2.6rem;
}

.title-info {
   margin-bottom: 40px;
}



.app-info {
   margin-top: 30px;

}

.info-container {
   background-color: black;
   height: var(--info-height);
   margin-top: 12px;
   position: relative;
}

.info-img {
   position: absolute;
   left: 0;
   top: -4%;
   transform: scale(0.56);
   width: 50%;
   height: 10%;
   opacity: 0.8;
   z-index: 3;
   transition: transform linear .3s, opacity linear .2s;
}

.info-img:hover {
   transform: translateY(-38%) scale(0.58);
   opacity: 1;
}

.info-img>img {
   object-fit: cover;
   max-width: 88%;
   height: auto;
}

.info-content {
   margin-left: auto;
   margin-right: 0;
   width: 64%;

}

.info__corner {

   position: absolute;
   right: 36px;
   top: 36px;
   z-index: 10;

}

/* Brand */
.app-brand {
   margin-top: 40px;
   min-height: 360px;
}

.title-brand {
   margin-bottom: 20px;
}

.brand-item {
   background-color: var(--white-color);
   margin: 0 auto;
   width: 100%;
   display: block;
   min-height: 40px;
   margin: 10px;
}

.brand-item>img {
   max-width: 90%;
   object-fit: cover;
   display: block;
   margin: 0 auto;
   border: none;
   outline: none;
}

/* Responsive  */
/* Tablet */
@media (min-width:740px) and (max-width:1023px) {}

/* Mobile */
@media (max-width:739px) {
   :root {
      --banner-height: 460px;
   }

   html {
      font-size: 50%;
      line-height: 1.6rem;
   }

   .header-nav__list--hide {
      display: none;
   }

   .banner {
      padding-top: 0;
   }

   .appContainer {
      margin-top: 0px;
   }

   .banner__img {
      right: -10px;
   }

   body {
      overflow-y: hidden;
   }

   .banner__img:hover {
      transform: translateX(-10px) translateY(-10px) scale(0.9);
      opacity: 1;
   }

   .banner__corner {
      top: 36px;
      left: 80%;
      position: absolute;

   }

   .banner-content>h2 {
      width: 200%;
   }
}

/* Overlay */
.nav__overlay {
   position: fixed;
   top: 0;
   right: 0;
   display: block;
   bottom: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.3);
   animation: fadeIn linear .2s;
}




.navMobile {
   padding-top: 10vh;
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   width: 320px;
   max-width: 90%;
   background-color: var(--gray-color);
   transform: translateX(0);
   transition: transform ease .2s;
}

.nav_input {
   display: none;
}

.nav_input:checked~.nav__overlay {
   display: none;
}

.nav_input:checked~.navMobile {
   transform: translateX(-100%);
}



.navMobile__title {
   font-size: 6rem;
   color: white;
}

.nav-mobile__list {
   display: flex;
   flex-direction: column;
   list-style: none;
   margin-top: 40px;

}

.nav-mobile__link {
   text-decoration: none;
   padding: 30px 0 30px 30px;

}

.nav-mobile__link-current {}

.nav-mobile__link {
   font-size: 3rem;
   color: white;

}

.navMobile-close {
   width: 20px;
   height: 20px;
   color: white;
   position: absolute;
   top: 1rem;
   right: 1rem
}