:root {
   --banner-height: 690px;
   --product-height: 500px
}

/* Banner */
.banner {
   background-color: var(--black-color);
   height: var(--banner-height);
   position: relative;
}

.banner>.grid {
   height: var(--banner-height);
}

.banner-content {
   padding-top: calc(var(--banner-height) * 0.26);
   color: var(--gray-color);
   font-size: 3rem;
   width: 46%;
   margin-left: 0;
   font-weight: 300;
   line-height: 3rem;
   text-align: justify;
}

.banner-content__title {
   color: white;
   font-size: 5rem;
   margin-bottom: 40px;

}

.banner__corner {
   position: absolute;
   left: 36px;
   bottom: 36px;
}

.banner__img {
   position: absolute;
   right: 12px;
   top: 12px;
   transform: scale(0.85);
   opacity: 0.8;
   z-index: 3;
   transition: transform linear .3s, opacity linear .2s;
}

.banner__img:hover {
   transform: translateX(-60px) translateY(-10px) scale(0.9);
   opacity: 1;
}

/* App */
.appContainer {
   background-color: rgb(152, 152, 152);
   height: 200px;
   width: 100%;
   margin-top: 90px;
}

/* Product */
.title-product {
   font-size: 3rem;
   color: var(--white-color);
   line-height: 3rem;
   font-weight: 400;
   margin-left: 36px;
   padding-bottom: 6px;

   background:
      linear-gradient(to right,
         rgba(0, 0, 0, 1),
         rgba(0, 0, 0, 1));

   background-size: 12% 4px;
   background-position: 0% 100%;
   background-repeat: no-repeat;
}








body {
   height: 10000px;
}