:root {
   --product-height: 360px;
}

.app_container {
   height: auto;
   margin-top: calc(var(--header-height) + 60px);
   margin-bottom: 20px;
   width: 100%;

}

.product_item {
   background-color: black;
   height: 260px;
}

/* Product */
.product__title {
   font-size: 3rem;
   color: var(--black-color);
   line-height: 3rem;
   font-weight: 400;
   padding-bottom: 6px;
   background:
      linear-gradient(to right,
         rgba(0, 0, 0, 1),
         rgba(0, 0, 0, 1));

   background-size: 14% 4px;
   background-position: 0% 100%;
   background-repeat: no-repeat;
   transition: all ease .2s;
   margin: 30px 0 30px 36px;
}

.product__title:hover {

   color: gray;
   transform: all ease .2s;
   background-size: 16% 4px;
   transform: scale(1.1);
}

/* Show More Button */
.bike-ShowMore {
   justify-content: center;
   text-align: center;
   color: gray;
   font-size: 2rem;
   max-lines: 1;
   margin-top: 21px;
   font-weight: bold;
   width: 26%;
   margin: 0 auto;
   border: none;
   align-items: center;
   padding: 10px;
   border-radius: 16px;
   transition: color .2s linear, box-shadow .1s linear;
}

.bike-ShowMore:hover {
   box-shadow: 3px 3px 10px gray;
   color: orange;
}

/* Bike */
.bike__item {
   height: var(--product-height);
   background-color: black;
   position: relative;
   border-radius: 6px;
   margin: 20px 0 20px 30px;
}

.bike__img {
   height: var(--product-height);
   position: absolute;
   left: -15%;
   border-radius: 6px;
   top: 0;
}

.bike__img>img {
   height: 100%;
   transform: scale(0.7);
   box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.1), 0 2px 6px 2px rgba(255, 255, 255, 0.15);
}



/* Description */
.bike__desc {
   color: white;
   position: absolute;
   right: 0;
   top: 0;
   margin-right: 260px;
   height: 100%;
}

.desc__title {
   margin-top: 36px;
   margin-left: 30px;
   font-size: 3rem;
   line-height: 3rem;
   font-weight: 600;
   max-lines: 1;
}

.desc__desc {
   font-size: 2.1rem;
   line-height: 2.1rem;
   margin-top: 30px;
   color: orange;
}

.desc__list {
   list-style: none;
}

.desc__item {
   font-size: 1.6rem;
   line-height: 1.6rem;
   margin-top: 10px;

}

.desc__item>i {
   color: orange;
   font-size: 1rem;
   margin-left: 3px;
}

.desc__cost {
   color: orange;
   font-size: 3rem;
   line-height: 3rem;
   position: absolute;
   bottom: 40px;
   right: 100px;
   margin-right: 10px;
}

.desc__btn {
   font-size: 2.6rem;
   line-height: 2.6rem;
   position: absolute;
   right: 0;
   bottom: 0;
   margin-right: 30px;
   margin-bottom: 30px;
   padding: 10px 30px;
   border-radius: 9px;
   background-color: gray;
   outline: none;
   border: none;
   width: 120px;
}

.desc__btn:hover {
   background-color: orange;
   box-shadow: 3px 3px 10px gray;
}

.desc__btn:active {
   background-color: rgb(212, 160, 64);
}

/* >= Tablet */
@media (min-width: 740px) and (max-width:1050px) {

   .bike__img {
      top: 0%;
      left: -40%;
   }

   .bike__img>img {
      transform: scale(0.5);
   }

   .bike__desc {
      margin-right: 10px;
   }

   .desc__btn {
      transform: scale(0.8);
   }

   .desc__cost {
      transform: scale(0.8);
      padding-right: 10px;
   }

}

/* Mobile */
@media (max-width:739px) {
   :root {
      --product-height: 300px;
   }

   .bike__item {
      margin-left: 0;
   }

   .bike__img {
      top: -28%;
      left: -36%;
   }

   .bike__img>img {
      transform: scale(0.6) translateY(50%) translateX(55%);
   }

   .bike__desc {
      margin-right: 50px;
   }

   .phukien_container {
      padding: 10px;
   }
}


/* Phu Kien */
.phukien_container {
   margin-bottom: 60px;

}

.phukien__item {
   background-color: gray;
   border-radius: 6px;
   box-shadow: 0 3px 10px 0 rgba(255, 255, 255, 0.1), 0 2px 6px 2px rgba(255, 255, 255, 0.15);
   margin-top: 21px;
   padding-top: 6px;
}

.phukien__img {
   width: 95%;
   margin: 0 auto;
}

.phukien__img>img {
   width: 100%;
   height: auto;
   object-fit: cover;
   border-radius: 6px;
}

.phukien__desc {
   display: block;
   padding: 3px 10px 10px 10px;

}

.phukien__title {
   font-size: 3rem;
   line-height: 3rem;
   color: white;
}

.phukien__cost {
   color: orange;
   font-size: 2rem;
   line-height: 2rem;
   margin-top: 46px;
   font-weight: bold;

}

.phukien_btn {
   display: block;
   padding: 8px 12px;
   width: 100px;
   font-size: 1.6rem;
   line-height: 1.6rem;
   border: none;
   border-radius: 10px;
   margin: 3px 3px 3px auto;
   background-color: orange;
}

.phukien_btn:hover {
   box-shadow: 3px 3px 10px gray;
   background-color: rgb(238, 203, 138);
}

.phukien_btn:active {

   background-color: rgb(212, 160, 64);

}

/* Cart */
.cart__input:checked~.cart-overlay {
   display: none;
}

.cart__input:checked~.cart-container {
   display: none;
}

.cart__title {
   font-size: 4rem;
   line-height: 4rem;
   color: black;
   margin-left: 10px;
}

.cart__title>i {
   color: orange;
}

.cart__item {
   background-color: var(--white-color);
   font-size: 2rem;
   line-height: 2rem;
   border-radius: 12px;
   width: 90%;
   padding: 10px 10px 10px 20px;
   margin: 20px auto;
}

.item-top {
   display: block;
}

.item-bottom {
   display: flex;
   justify-content: space-around;
}

.cart__item__position {
   display: inline;
}

.cart__item__title {
   display: inline;
   font-size: 2.2rem;
   line-height: 2.2rem;
   font-style: italic;
}

.cart__item__cost {
   align-self: center;
   color: orange;
   font-size: 2rem;
   line-height: 2rem;
   font-weight: bold;
   display: inline;
   margin-right: 30px;
}

.cart__item__minus,
.cart__item__delete,
.cart__item__plus {
   display: inline;
   padding: 8px 10px;
   border-radius: 50%;
   background-color: transparent;
}

.cart__item__minus:hover,
.cart__item__delete:hover,
.cart__item__plus:hover {
   background-color: orange;
}

.cart__item__minus:active,
.cart__item__delete:active,
.cart__item__plus:active {
   background-color: rgb(172, 113, 4);
}

.cart__item__quantity {
   display: inline;
   color: orange;
   font-size: 2rem;
   line-height: 2rem;
   font-weight: bold;
   padding: 3px;
}

.cart__list {
   list-style-type: none;
   overflow-y: auto;
}

.cart-separator {
   width: 100%;
   border: 1px solid gray;

}

.total_container {
   margin-top: 20px;
   display: flex;
   justify-content: end;
   margin-right: 20px;
}

.total__title {
   font-size: 2.6rem;
   line-height: 2.6rem;
   color: gray;
   margin-right: 12px;
}

.total__num {
   display: inline;
   font-size: 2.8rem;
   line-height: 2.8rem;
   color: orange;
   font-weight: bold;
}

.cart-container {
   padding-top: 10vh;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   width: 420px;
   max-width: 90%;
   background-color: var(--background-cart-color);
   transform: translateX(0);
   transition: transform ease .2s;
   z-index: 2;
}

.btn__pay {
   position: absolute;
   right: 10px;
   left: 10px;
   bottom: 30px;
   font-size: 2rem;
   background-color: orange;
   padding: 10px;
   border-radius: 26px;
}

.btn__pay:hover {
   background-color: rgb(197, 134, 18);
}

.btn__pay:active {
   background-color: gray;
}

.cart__icon {
   position: relative;
}

#cart_quantity {
   color: white;
   text-align: center;
   font-size: 1.2rem;
   top: -20%;
   right: -50%;
   border-radius: 50%;
   width: 30px;
   height: 30px;
   position: absolute;
}